#库文件夹下的忽略文件
Lib/RabbitAdventure

#目标文件夹下的忽略文件
Bin/RabbitAdventure*.*
Bin/Pic/gameStart/*.*
Bin/Pic/welcome/*.*

#去掉版本信息
RabbitAdventure/RabbitAdventure.rc

#去除.vs下生成的不知道什么东西
.vs/

#去掉build文件夹
build/

















